#header {
    text-align: center;
    font-size: 65px;
    font-family: "lucida handwriting", cursive;
    line-height: 0%;
}

#current-pattern{
    width: 1090px;
    text-align: center;
    line-height: 0%;
}

.button {
    width: 80px;
    background-color: rgb(117, 114, 114);

}

.palette-switcher{
    display: grid;
    font-size: 40px;
    font-family: "Lucida Console", monospace;
    font-weight: bold;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto;
    justify-content: center;
}

.palette {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: left;
    margin: 0 auto;
    column-gap: 30px;
    row-gap: 30px;
    width: 1090px;

}

.swatch {
    height: 250px;
    width: 250px;
    border-radius: 25px;
    align-self: center;
}

.empty-swatch {
    height: 250px;
    width: 250px;
    border-radius: 25px;
     display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(117, 114, 114);

}

body {
    background-color: rgb(77, 75, 75);
}